<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
      rel="stylesheet"/>
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet"/>


<!-- PLUGINS CSS STYLE -->
<link th:href="@{/assets/plugins/nprogress/nprogress.css}" rel="stylesheet"/>


<!-- SLEEK CSS -->
<link th:href="@{/assets/css/sleek.css}" rel="stylesheet"/>

<!-- FAVICON -->
<link th:href="@{/assets/img/favicon.png}" rel="shortcut icon"/>